<link rel="stylesheet" href="/css/nav_styles.css" />
<nav>
  <ul>
    <li>
      <a href="/">
        <i class="fa-solid fa-magnifying-glass-location"></i>
        <span>issue tracker</span>
      </a>
    </li>

    <li>
      <a href="/projects/all-projects"> all projects </a>
    </li>
  </ul>
</nav>
