// Media Queries
$xsmall: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;

// Font size
$xsmall-fs: 11px;
$small-fs: 13px;
$medium-fs: 15px;
$large-fs: 17px;
$xlarge-fs: 19px;

// h1
$h1-fs: 1.5rem;
$h1-fw: 600;

$h2-fs: 1.2rem;
$h2-fw: 600;
