@import "variables";

.modal-container {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  max-height: auto;
  transition: 0.4s max-height;
  background-color: #dcf0fa;
  z-index: 8;

  .customModal {
    height: 100%;
    width: 100%;
    z-index: 8;
    padding: 1rem 1.5rem;

    @media screen and (min-width: $large) {
      width: 90%;
      margin: 1rem auto;
    }

    @media screen and (min-width: $xlarge) {
      width: 80%;
      margin: 1rem auto;
    }

    > .modal-heading {
      display: grid;
      grid-template-columns: 1fr auto;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      > h1 {
        font-size: $h1-fs;
        font-weight: $h1-fw;
      }

      > button {
        border: none;
        background-color: #cde;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        opacity: 0.4;
        transition: 0.4s all;
        > i {
          font-size: 1.2rem;
        }

        &:hover {
          transform: rotate(180deg);
          opacity: 1;
        }
      }
    }

    > form {
      width: 100%;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $large) {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        align-content: start;
      }

      > .info {
        width: 100%;
        display: grid;
        grid-gap: 0.6rem;
        grid-template-columns: 1fr 1fr;

        > input,
        textarea {
          font-size: 1rem;
          padding: 0.6rem;
          outline: none;
          border: 2px solid #50b8e7;
          width: 100%;
        }
        > textarea {
          grid-column: span 2;
          margin-bottom: 0.8rem;

          @media screen and (min-width: $large) {
            margin-bottom: 0rem;
          }
        }
      }

      .issue-labels {
        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-gap: 0.6rem;

        > input {
          width: 100%;
          font-size: 1rem;
          padding: 0.6rem;
          outline: none;
          border: 2px solid #50b8e7;
        }
        > fieldset {
          height: 100%;
          border: 2px solid #50b8e7;
          > legend {
            font-size: 1.3rem;
          }

          > .labels-container {
            padding: 1rem 2rem;
            height: 100%;
            display: grid;
            grid-template-columns: 4rem 1fr;
            align-items: center;
            grid-row-gap: 0.5rem;
            > label {
              font-size: 1rem;
            }
            > input {
              height: 1.2rem;
              width: 1.2rem;
            }
          }
        }
      }

      > button {
        width: 100%;
        margin-top: 1.5rem;
        grid-column: span 2;
        font-size: 1rem;
        border: none;
        padding: 0.6rem;
        outline: none;
        color: #fff;
        background: #50b8e7;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

        &:hover {
          background-color: rgba(29, 159, 219, 0.882);
        }
        &:active {
          box-shadow: none;
        }

        @media screen and (min-width: $large) {
          margin-top: 0rem;
        }
      }
    }
  }
}

.hide {
  max-height: 0;
}
