$xsmall: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;

main {
  width: 70%;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $xsmall) {
    width: 96%;
  }

  @media screen and (min-width: $small) {
    width: 90%;
  }

  @media screen and (min-width: $medium) {
    width: 85%;
  }

  @media screen and (min-width: $large) {
    width: 80%;
  }

  @media screen and (min-width: $xlarge) {
    width: 70%;
  }

  > .add-new-project {
    position: relative;
    width: clamp(150px, 15vw, 300px);
    height: clamp(150px, 15vw, 300px);
    border: none;
    background: #fff;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s transform;
    > i {
      font-size: 6vw;
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: -20px;
      left: 20px;
      background: #fff;
      opacity: 0.6;
      z-index: 5;
      transition: 0.2s transform;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.3;
    }

    &:hover::before {
      cursor: pointer;
      z-index: -5;
    }
  }

  .add-new-project:active {
    transform: translate(8px, -8px);
  }

  .add-new-project:active::before {
    transform: translate(-8px, +8px);
  }

  .projects-container {
    width: 100%;
    margin: 10vh auto;
    > h1 {
      font-size: clamp(2rem, 2.5vw, 3rem);
      text-align: center;
      margin-bottom: 4vh;
    }
    > ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      max-width: 100%;
      min-width: 0%;

      @media screen and (min-width: $medium) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (min-width: $large) {
        grid-template-columns: repeat(3, 1fr);
      }

      > a {
        color: #000;
        > li {
          max-width: 100%;
          background-color: #fff;
          opacity: 0.8;
          height: 250px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          overflow: hidden;
          > .project-heading {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            > h2 {
              flex: 1 0 60%;
              text-transform: capitalize;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            > .status-indicator {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: green;
              margin-right: 0.8rem;
            }
          }

          > p {
            margin-bottom: 1.5rem;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
