@import "variables";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: $small-fs;
  @media screen and (min-width: $medium) {
    font-size: $medium-fs;
  }
  @media screen and (min-width: $xlarge) {
    font-size: $large-fs;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(to right bottom, #4facfe, 60%, #00d3df);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

i + span {
  margin-left: 0.8rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
