main {
  width: 65%;
  margin: 10vh auto;

  > h1 {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: #fff;
  }
  .project-container {
    min-height: auto;
    background-color: #eeefff;
    padding: 1.5rem;
    > h1 {
      text-transform: capitalize;
      margin-bottom: 1.2rem;
    }

    > blockquote {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    > p {
      line-height: 2rem;
      font-size: 1.1rem;
    }
  }

  .filter-container {
    margin: 2rem auto;
    margin-bottom: 5vh;
    > h1 {
      margin-bottom: 0.6rem;
      letter-spacing: 2px;
      color: #fff;
    }

    #filter-by-issue-labels {
      display: grid;
      grid-template-columns: 1fr 100px;
      margin-bottom: 2rem;
    }

    > form {
      display: grid;
      grid-template-columns: 1fr 100px;
      margin-bottom: 2rem;

      > select,
      input {
        font-size: 1.2rem;
        padding: 10px 20px;
      }

      > button {
        font-size: 1.2rem;
      }
    }
  }

  .issues-container {
    margin-top: 5vh;
    margin-bottom: 2rem;

    > h1 {
      margin-bottom: 1rem;
      letter-spacing: 2px;
      color: #fff;
    }
    > ul {
      > li {
        padding: 1rem;
        background-color: #efe;
        margin-bottom: 2rem;
        > h2 {
          font-weight: 600;
        }

        > p:nth-child(2) {
          margin-bottom: 1rem;
        }

        > .label-tags {
          margin-top: 1rem;
          > ul {
            display: flex;
            flex-wrap: wrap;
            > li {
              margin-right: 1rem;
              margin-bottom: 1rem;
              width: fit-content;
              padding: 1rem;
              border: 3px solid #000;
              border-radius: 30px;
              text-transform: lowercase;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
