@import "breakpoints";

main {
  width: 65%;
  margin: 10vh auto;

  @media screen and (min-width: $xsmall) {
    width: 96%;
  }

  @media screen and (min-width: $small) {
    width: 90%;
  }

  @media screen and (min-width: $medium) {
    width: 85%;
  }

  @media screen and (min-width: $large) {
    width: 80%;
  }

  @media screen and (min-width: $xlarge) {
    width: 70%;
  }

  > h1 {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: #fff;
  }

  .filter-container {
    margin: 2rem auto;
    margin-bottom: 5vh;
    > h1 {
      margin-bottom: 0.6rem;
      letter-spacing: 2px;
      color: #fff;
    }

    #filter-by-issue-labels {
      display: grid;
      grid-template-columns: 1fr 100px;
      margin-bottom: 2rem;
    }

    > form {
      display: grid;
      grid-template-columns: 1fr 100px;
      margin-bottom: 2rem;

      > select,
      input {
        font-size: 1.2rem;
        padding: 10px 20px;
        outline: none;
      }

      > button {
        font-size: 1.2rem;
        background-color: #0a8f0b;
        color: #fff;
      }
    }

    > #search-title-desc {
      > button {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > i {
          color: #000;
          transform: translateX(-150%);
          margin-right: -8px;
          font-size: 0.9rem;
        }
      }
    }
  }

  .project-container {
    background-color: #fff;
    opacity: 0.9;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    > .project-heading {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      > h1,
      h2 {
        flex: 1 0 60%;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > .status-indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        margin-right: 0.8rem;
      }
    }

    > blockquote {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    > p {
      line-height: 2rem;
      font-size: 1.1rem;
    }

    > button {
      align-self: flex-end;
      margin-top: 1rem;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      background-color: rgb(255, 110, 85);
      color: #fff;
      font-size: clamp(1rem, 1.4vw, 1.2rem);
      letter-spacing: 1px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

      &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }

      &:hover {
        background-color: rgb(250, 82, 52);
      }
    }
  }

  .issues-container {
    margin-top: 5vh;
    margin-bottom: 2rem;

    .filtered-issues-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > h1 {
        margin-bottom: 1rem;
        letter-spacing: 2px;
        color: #fff;
      }
      > button {
        color: #fff;
        padding: 10px 40px;
        border: 2px solid #fff;
        font-size: clamp(1.2rem, 1.2vw, 1.5rem);
        font-weight: 500;
        letter-spacing: 1px;
        background-color: transparent;

        &:hover {
          background-color: #fff;
          color: #33baf3;
        }
      }
    }

    > ul {
      > li {
        padding: 1rem;
        background-color: #fff;
        opacity: 0.8;
        margin-bottom: 2rem;
        > h2 {
          font-weight: 600;
        }

        > p:nth-child(2) {
          margin-bottom: 1rem;
        }

        > .label-tags {
          margin-top: 1rem;
          > ul {
            display: flex;
            flex-wrap: wrap;
            > li {
              margin-right: 1rem;
              margin-bottom: 1rem;
              width: fit-content;
              padding: 1rem;
              border: 3px solid #000;
              border-radius: 30px;
              text-transform: lowercase;
              font-weight: 500;

              @media screen and (max-width: $medium) {
                padding: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
