.modal-container {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  max-height: 60vh;
  transition: 800ms max-height;
  background-color: #dcf0fa;
  z-index: 8; }
  .modal-container .customModal {
    height: 100%;
    width: 100%;
    z-index: 8;
    padding: 1rem; }
    .modal-container .customModal > .modal-heading {
      display: flex; }
      .modal-container .customModal > .modal-heading > h1 {
        flex: 1 0 auto;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600; }
      .modal-container .customModal > .modal-heading > button {
        border: none;
        background-color: #cde;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        opacity: 0.4;
        transition: 0.4s all; }
        .modal-container .customModal > .modal-heading > button > i {
          font-size: 1.2rem; }
        .modal-container .customModal > .modal-heading > button:hover {
          transform: rotate(180deg);
          opacity: 1; }
    .modal-container .customModal > form {
      width: 95%;
      max-height: fit-content;
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-gap: 1rem;
      align-content: start;
      margin: 1.5vh auto; }
      @media screen and (min-width: 768px) {
        .modal-container .customModal > form {
          width: 75%; } }
      @media screen and (min-width: 992px) {
        .modal-container .customModal > form {
          width: 60%; } }
      .modal-container .customModal > form > input,
      .modal-container .customModal > form textarea,
      .modal-container .customModal > form button {
        width: 100%;
        font-size: 1rem;
        border: none;
        padding: 0.6rem;
        outline: none; }
      .modal-container .customModal > form > button {
        color: #fff;
        background: #50b8e7; }

.hide {
  max-height: 0%; }
