main {
  width: 95%;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 576px) {
    main {
      width: 90%; } }
  @media screen and (min-width: 768px) {
    main {
      width: 80%; } }
  @media screen and (min-width: 992px) {
    main {
      width: 70%; } }
  main > .add-new-project {
    position: relative;
    width: clamp(8rem, 30vw, 10rem);
    aspect-ratio: 1 / 1;
    border: none;
    background: #fff;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s transform; }
    main > .add-new-project > i {
      font-size: clamp(3rem, 6vw, 4rem); }
    main > .add-new-project::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: -1rem;
      left: 1rem;
      background: #fff;
      opacity: 0.6;
      z-index: 5;
      transition: 0.2s transform; }
    main > .add-new-project:hover {
      cursor: pointer;
      opacity: 0.3; }
    main > .add-new-project:hover::before {
      cursor: pointer;
      z-index: -5; }
  main .add-new-project:active {
    transform: translate(0.6rem, -0.6rem); }
  main .add-new-project:active::before {
    transform: translate(-0.6rem, 0.6rem); }
  main .projects-container {
    width: 100%;
    margin: 10vh auto; }
    main .projects-container > h1 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 4vh; }
    main .projects-container > ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      max-width: 100%;
      min-width: 0%; }
      @media screen and (min-width: 768px) {
        main .projects-container > ul {
          grid-template-columns: repeat(2, 1fr); } }
      @media screen and (min-width: 1200px) {
        main .projects-container > ul {
          grid-template-columns: repeat(3, 1fr); } }
      main .projects-container > ul > a {
        color: #000; }
        main .projects-container > ul > a > li {
          height: 180px;
          max-width: 100%;
          background-color: #fff;
          opacity: 0.8;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
          @media screen and (min-width: 992px) {
            main .projects-container > ul > a > li {
              height: 220px; } }
          main .projects-container > ul > a > li > .project-heading {
            display: flex;
            align-items: center;
            margin-bottom: 0.6rem; }
            main .projects-container > ul > a > li > .project-heading > h2 {
              font-size: 1.2rem;
              font-weight: 600;
              flex: 1 0 60%;
              text-transform: capitalize;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            main .projects-container > ul > a > li > .project-heading > .status-indicator {
              width: 0.6rem;
              height: 0.6rem;
              border-radius: 50%;
              background-color: green;
              margin-right: 0.8rem; }
            main .projects-container > ul > a > li > .project-heading > p {
              font-size: 0.9rem; }
          main .projects-container > ul > a > li > p {
            margin-bottom: 0.6rem;
            font-size: 1rem;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; }
