* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-size: 16px;
  background: linear-gradient(to right bottom, #4facfe, 60%, #00d3df);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif; }

i + span {
  margin-left: 0.8rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

button:hover,
a:hover {
  cursor: pointer; }
